header{
    font-family: Arial;
    font-size: large;
    display: flex;
    height: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    font-weight: bold;
    padding-bottom: 20px;
}
button{
    font-family: Arial;
    font-size: medium;
    border: medium black;
    border-radius: 8px;
}
textarea{
    font-family: Arial;
    font-size: medium;
}
div.btnrow{
    display: flex;
    height: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    margin-left: 20px;
    padding-bottom:15px;
}


div.cbutton{
    display: flex;
    height: 25px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    padding-bottom: 10px;
}

div.binding{
    font-family: Arial;
    font-size: medium;
    padding-bottom:15px;
}